#*.Rdata
#*.rds
#*.rda
.Rapp*
.DS_Store

# History files
.Rhistory
# Example code in package build process
*-Ex.R

# R data files from past sessions
#.Rdata

# ignore graphic files
*.pdf
*.png
*.jpg
*.jpeg

.Rproj.user
